<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="CampionatMondial2.Properties.Settings.Campionat_mondialConnectionString"
            connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = C:\Users\Vlad\source\repos\CampionatMondial\CampionatMondial2\Campionat_mondial.mdf; Integrated Security = True; Connect Timeout = 30; Context Connection = False"
            providerName="System.Data.SqlClient" />
        <add name="CampionatMondial2.Properties.Settings.AdminConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Admin.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>